/* *{
    border: 1px dashed lime;
} */
body{
    font-family: 'Zilla Slab', serif;
}
#aboutme{
    text-align: center;
    margin: 5% 0;
    text-decoration: underline;
    color: #007abd;
}
.paragraphs strong{
    color: #007abd;
    font-size: 1.5rem;
}
.container1{
    display: flex;
    justify-content: center;
 
    }
    .container1 em{
        color: #007abd;
    }
    .paragraphs{
        width: 40%;
    }
    .photo-2{
        width: 80%;
        margin: 12% 6%;
        border: 15px solid white;
        box-shadow: 0 0 5px #007abd;

    }
 #skills{
     text-align: center;
     margin: 5% 0;
     text-decoration: underline;
     color: #007abd;
 }
.container2{
    display: flex;
    justify-content: space-around;
 
}
.container2 h2{
    color: #007abd;
}
.my-bars1{
    width: 40%;
}
.my-bars2{
    width: 40%;
}
.box-bars{
    box-shadow: 0 0 5px;
}
.progress1{
    margin: 5% 0;
}

#projects{
    text-align: center;
    margin: 5% 0;
    text-decoration: underline;
    color: #007abd;
}
.images1 img{
    width: 100%;
}
.images1 {
    text-align: center;
    border: 10px solid  #fff;
    width: 40%;
    box-shadow: 0 0 5px #007abc;
}
.images2 {
    width: 40%;
    text-align: center;
    border: 10px solid  #fff;
    box-shadow: 0 0 5px #007abc;
}
.images2 img{
    width: 100%;
}
.images3 {
    width: 40%;
    text-align: center;
    border: 10px solid  #fff;
    box-shadow: 0 0 5px #007abc;
}

.images3 img{
    width: 100%;
}
.images4 {
    width: 40%;
    text-align: center;
    border: 10px solid  #fff;
    box-shadow: 0 0 5px #007abc;
}
.images4 img{
    width: 100%;
}
.lot1{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.lot2{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
button{
    padding: 10px 20px;
border-radius: 5px;
border: none;
background: #007ABD;
text-transform: uppercase;
font-family: 'Zilla Slab', serif;
font-weight: 600;
cursor: pointer;

}


button a{
    text-decoration: none;
    color: #fff;
}
.images1 a:hover{
    color: #fff !important;
}

.images2 a:hover{
    color: #fff !important;
}

.images3 a:hover{
    color: #fff !important;
}


.images4 a:hover{
    color: #fff !important;
}
.my-handles{
    width: 30%;
    text-align: center;
    margin-top: 5%;
}

.my-handles img{
    padding:  8% 2% ;
}
.contacts{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    
}
.contacts p{
    word-spacing:50%;
}
.container4 p{
    font-size: 1.2rem;
}
.container4{
    display: flex;
    background: #007ABD;
    color: #fff;
    margin-top: 5%;
    justify-content: space-around;
    width: 100%;
}
.foot1{
    width: 70%;
    text-align: center;
    padding: 5% 0;
}
.upbutton {
    position: fixed;
    width: 3%;
    background-color:#007ABD;
    border-radius: 50%;
    bottom:3% ;
    right: 1%;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 0 5px white;
    
    
}
html{
    scroll-behavior: smooth;
}
.my-first{
    box-shadow: 0 0 5px #007abc ;
    border-radius: 5px;
}
