

body {
    font-family: 'Zilla Slab', serif;
    margin: 0;

}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.items-transit{
    display: flex;
    justify-content: center;
    background-color: #007ABD;
    
}


 li{
    text-transform: uppercase;
    font-weight: 700;
    list-style: none;
    font-size: 1.5rem;
    

}
ul a{
    text-decoration: none;
    color: #fff;
    padding: 20px 20px;
    align-items: center;
    margin: 0;
    
}
ul a:hover{
    color: #007abd;
    background: #fff;
    transition:linear 0.5s;
 
}
li{
    padding: 20px 0;
    
}
.dollar{
    width: 50%;
    border-radius: 100%;
    box-shadow: 0 0  5px   #007ABD;
    border: 10px solid #fff;
}
.portFolio{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.portFolio h2{
    font-size: 2.5rem;
    padding: 5px 10px;
    box-shadow: 0 0 3px #007abd;
    color: #007abd;
    text-align: center;
    margin: 5%;

}
.portFolio strong{
    color: #000;
}

.portFolio p{
    font-size: 3rem;
    font-weight: 700;
    color: #007abd;
    text-align: center;
}

.handles{
    padding: 0 10px;
    
}
